In [23]:
import numpy as np
import pandas as pd

In [24]:
df=pd.read_csv(r"D:\Cars24_Analysis\agoda\earbuds.csv")
df.head()

,Unnamed: 0,Rating,Rating_Count,Selling_Price,brand,model,battery_hours,bluetooth_version,enc,anc,fast_charging,type_c,dual_pairing,gaming_mode,low_latency,rgb,mic_count
0,0,3.7,17411.0,2999.0,caidea,tw500 tube upto,50.0,NaN,1,0,1,0,1,0,0,0,0
1,1,4.0,88956.0,3999.0,triggr,kraken x1 with,40.0,5.3,1,0,0,0,0,0,1,0,4
2,2,4.0,683.0,2899.0,beastbass,cmt buds 2,55.0,5.3,1,0,0,0,0,0,0,0,0
3,3,3.4,66399.0,1999.0,techfire,bullets 360 tws,100.0,NaN,0,0,0,0,0,0,0,0,0
4,4,3.8,5925.0,3499.0,highnotes,airdoze quad mic,120.0,5.3,1,0,0,0,0,0,0,0,4

# Data understanding

In [25]:
df.shape

(1000, 17)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1000 non-null   int64
 1   Rating             928 non-null    float64
 2   Rating_Count       928 non-null    float64
 3   Selling_Price      950 non-null    float64
 4   brand              963 non-null    object
 5   model              963 non-null    object
 6   battery_hours      786 non-null    float64
 7   bluetooth_version  297 non-null    float64
 8   enc                1000 non-null   int64
 9   anc                1000 non-null   int64
 10  fast_charging      1000 non-null   int64
 11  type_c             1000 non-null   int64
 12  dual_pairing       1000 non-null   int64
 13  gaming_mode        1000 non-null   int64
 14  low_latency        1000 non-null   int64
 15  rgb                1000 non-null   int64
 16  mic_count          1000 non-null   int64
dtypes: float64(5), int64(10), object(2)
memory usage: 132.9+ KB

In [27]:
df.isnull().sum()/len(df)*100

Unnamed: 0            0.0
Rating                7.2
Rating_Count          7.2
Selling_Price         5.0
brand                 3.7
model                 3.7
battery_hours        21.4
bluetooth_version    70.3
enc                   0.0
anc                   0.0
fast_charging         0.0
type_c                0.0
dual_pairing          0.0
gaming_mode           0.0
low_latency           0.0
rgb                   0.0
mic_count             0.0
dtype: float64

In [28]:
df.head()

,Unnamed: 0,Rating,Rating_Count,Selling_Price,brand,model,battery_hours,bluetooth_version,enc,anc,fast_charging,type_c,dual_pairing,gaming_mode,low_latency,rgb,mic_count
0,0,3.7,17411.0,2999.0,caidea,tw500 tube upto,50.0,NaN,1,0,1,0,1,0,0,0,0
1,1,4.0,88956.0,3999.0,triggr,kraken x1 with,40.0,5.3,1,0,0,0,0,0,1,0,4
2,2,4.0,683.0,2899.0,beastbass,cmt buds 2,55.0,5.3,1,0,0,0,0,0,0,0,0
3,3,3.4,66399.0,1999.0,techfire,bullets 360 tws,100.0,NaN,0,0,0,0,0,0,0,0,0
4,4,3.8,5925.0,3499.0,highnotes,airdoze quad mic,120.0,5.3,1,0,0,0,0,0,0,0,4

In [29]:
df.drop(columns=["model","Unnamed: 0","bluetooth_version"],inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rating         928 non-null    float64
 1   Rating_Count   928 non-null    float64
 2   Selling_Price  950 non-null    float64
 3   brand          963 non-null    object
 4   battery_hours  786 non-null    float64
 5   enc            1000 non-null   int64
 6   anc            1000 non-null   int64
 7   fast_charging  1000 non-null   int64
 8   type_c         1000 non-null   int64
 9   dual_pairing   1000 non-null   int64
 10  gaming_mode    1000 non-null   int64
 11  low_latency    1000 non-null   int64
 12  rgb            1000 non-null   int64
 13  mic_count      1000 non-null   int64
dtypes: float64(4), int64(9), object(1)
memory usage: 109.5+ KB

# Data cleaning (missing values)

In [31]:
cols=['Rating', 'Rating_Count', 'Selling_Price',  'battery_hours']
for i in cols:
    print(f"{i},{df[i].skew()}")

Rating,-0.18821310062919494
Rating_Count,7.146681179569188
Selling_Price,3.335402502676389
battery_hours,12.092262905505867

In [32]:
cols = ["Rating", "Rating_Count", "Selling_Price", "battery_hours"]

for col in cols:
    df[col].fillna(df[col].median(), inplace=True)
df["brand"].fillna("Unknown",inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_37396\2724090726.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_37396\2724090726.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_37396\2724090726.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_37396\2724090726.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_37396\2724090726.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["brand"].fillna("Unknown",inplace=True)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rating         1000 non-null   float64
 1   Rating_Count   1000 non-null   float64
 2   Selling_Price  1000 non-null   float64
 3   brand          1000 non-null   object
 4   battery_hours  1000 non-null   float64
 5   enc            1000 non-null   int64
 6   anc            1000 non-null   int64
 7   fast_charging  1000 non-null   int64
 8   type_c         1000 non-null   int64
 9   dual_pairing   1000 non-null   int64
 10  gaming_mode    1000 non-null   int64
 11  low_latency    1000 non-null   int64
 12  rgb            1000 non-null   int64
 13  mic_count      1000 non-null   int64
dtypes: float64(4), int64(9), object(1)
memory usage: 109.5+ KB

In [34]:
df.to_csv(r"D:\Cars24_Analysis\agoda\cleaned.csv")